<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/login michael.css" />
    <title>BitePlanr | Account</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="form-box">
      <h1>Login</h1>
      <form>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
      <div class="switch">
        <a href="#" id="register-link">No account? Register here.</a>
      </div>
    </div>

    <div class="form-box" style="display: none;" id="register-form-box">
      <h1>Register</h1>
      <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Surname">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button type="submit">Register</button>
      </form>
      <div class="switch">
        <a href="#" id="login-link">Already have an account? Login here.</a>
      </div>
    </div>

    <a href="/registerEJS">Register</a>
    <script src="../public/scripts/00_script.js"></script>
    <script src="../public/scripts/login michael.js"></script>
    <script src="../../server/app.js"></script>
  </body>
</html>
