<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Menu</title>
  </head>
  <body>
    <header>
      <img
        src="https://cdn.pixabay.com/photo/2016/12/27/13/10/logo-1933884_1280.png"
        alt="logo"
      />
      <li><a href="/">HOME</a></li>
      <li><a href="/menuEJS">MENU</a></li>
      <li>
        <a href="/shopping-cartEJS" class="fas fa-cart-shopping"
          >Shopping-cart</a
        >
      </li>
      <li><a href="/registerEJS" class="registerejs">register</a></li>
      <div id="user">
        <% if (typeof loginMessage !== 'undefined') { %>
        <img src="img/login_yes.png" />

        <% } else { %>
        <img src="img/User.webp" />

        <% } %>
      </div>
    </header>
    <div class="home">
      <p>This is the menu</p>
      <button>&darr; Explore &darr;</button>
      <div id="menuContents"></div>
    </div>
    <script src="../public/scripts/00_script.js"></script>
    <script src="../../server/app.js"></script>
  </body>
</html>
