* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(41, 41, 40, 0.499),
      rgba(120, 115, 102, 0.553)
    ),
    url(../img/Screenshot\ 2023-03-22\ 062238.png);
  background-size: cover;
  background-position: relative;
}
.nav {
  width: 90%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 80px;
  cursor: pointer;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 50px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.content h1 {
  font-size: 90px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-size: 20px;
  line-height: 25px;
}
.col-obsidian {
  flex-basis: 43%;
  flex-grow: 1;
  background: linear-gradient(90deg, rgba(229,220,195,0.46381880388874297) 0%, rgba(153,147,130,1) 56%, rgba(138,133,118,1) 100%),
    url(../img/Komp\ 1_00000.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: white;
}

.obsidian-text {
  text-decoration: none;
  margin-left: 550px;
  width: 60%;
  color: white;
}

.obsidian-text h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.obsidian-text p {
  font-size: 18px;
  color: white;
}

button {
  width: 100px;
  height: 40px;
  padding: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
  text-decoration: none;
  outline: none;
  border: none;
}

button:hover {
  background-color: rgb(216, 216, 216);
}
.service{
  background: linear-gradient(39deg, rgba(229,220,195,1) 0%, rgba(116,112,99,1) 100%);       padding: 100px 0px;
}
.title h2{
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #c6bfab;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #E5DCC3;
}
h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p{
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.text-box{
  display: flex; 
  flex-direction: column;
  margin: 0;  font-size: 18px;
  color: white;
  padding-left: 130px;

}
.text-box h1{
  font-weight: 0;
  font-size: 100px;
  max-width: 500px;
  line-height: 95px;
  margin: 0;
}
.text-box p{
margin-top: 30px;
font-size: 22px;
padding-left: 10px;
}
.order{
  flex-basis: 43%;
  flex-grow: 1;
  background: linear-gradient(90deg, rgba(154,148,131,1) 0%, rgba(229,220,195,0.41339863582151615) 59%), url(../img/phone_00000.png);
  background-size: cover;
  background-position: center;
  padding: 275px 0;
  color: white;
}