/*https://www.shapedivider.app/*/
.custom-shape-divider-top-1677061461 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1677061461 svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 94px;
}

.custom-shape-divider-top-1677061461 .shape-fill {
  fill: #353535;
}
